// Placeholder to allow overriding predefined variables smoothly.
@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans ExtraBold Italic'), local('PublicSans-ExtraBoldItalic'),
        url('assets/fonts/publicsans/PublicSans-ExtraBoldItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Black'), local('PublicSans-Black'),
        url('assets/fonts/publicsans/PublicSans-Black.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Black Italic'), local('PublicSans-BlackItalic'),
        url('assets/fonts/publicsans/PublicSans-BlackItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans ExtraBold'), local('PublicSans-ExtraBold'),
        url('assets/fonts/publicsans/PublicSans-ExtraBold.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Bold'), local('PublicSans-Bold'),
        url('assets/fonts/publicsans/PublicSans-Bold.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Bold Italic'), local('PublicSans-BoldItalic'),
        url('assets/fonts/publicsans/PublicSans-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans SemiBold'), local('PublicSans-SemiBold'),
        url('assets/fonts/publicsans/PublicSans-SemiBold.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans SemiBold Italic'), local('PublicSans-SemiBoldItalic'),
        url('assets/fonts/publicsans/PublicSans-SemiBoldItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Medium Italic'), local('PublicSans-MediumItalic'),
        url('assets/fonts/publicsans/PublicSans-MediumItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Italic'), local('PublicSans-Italic'),
        url('assets/fonts/publicsans/PublicSans-Italic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Medium'), local('PublicSans-Medium'),
        url('assets/fonts/publicsans/PublicSans-Medium.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Light Italic'), local('PublicSans-LightItalic'),
        url('assets/fonts/publicsans/PublicSans-LightItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Light'), local('PublicSans-Light'),
        url('assets/fonts/publicsans/PublicSans-Light.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Regular'), local('PublicSans-Regular'),
        url('assets/fonts/publicsans/PublicSans-Regular.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Thin Italic'), local('PublicSans-ThinItalic'),
        url('assets/fonts/publicsans/PublicSans-ThinItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans ExtraLight Italic'), local('PublicSans-ExtraLightItalic'),
        url('assets/fonts/publicsans/PublicSans-ExtraLightItalic.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans ExtraLight'), local('PublicSans-ExtraLight'),
        url('assets/fonts/publicsans/PublicSans-ExtraLight.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: local('Public Sans Thin'), local('PublicSans-Thin'),
        url('assets/fonts/publicsans/PublicSans-Thin.woff2') format('woff2'),
        url('assets/fonts/publicsans/PublicSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

