<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}" class="scroll-smooth bg-moss-300 dark:bg-moss-950">

  {%- include head.html -%}

  <body class="bg-moss-300 dark:bg-moss-950">
    <header class="px-10 pt-8">
      <nav aria-label="Primary">
        <ul class="flex gap-16 font-mono text-moss-900 dark:text-neutral-200">
          <li>
            <a href="{{ '/' | relative_url }}" class="px-0.5 rounded-sm hover:bg-moss-900 hover:dark:bg-moss-200 hover:dark:text-moss-950 hover:text-moss-200"><span class="pr-1">01</span> Home</a>
          </li>
          <li>
            <a href="/writing" class="px-0.5 rounded-sm hover:bg-moss-900 hover:dark:bg-moss-200 hover:dark:text-moss-950 hover:text-moss-200"><span class="pr-1">02</span> Writing</a>
          </li>
        </ul>
      </nav>
    </header>
    <main aria-label="Content" class="px-10 py-12 text-moss-900 dark:text-neutral-200">
      <h1 class="pb-10 font-mono text-sm font-extrabold tracking-widest capitalize text-moss-800 dark:text-moss-400">
      JACOB FOSTER HEIMARK
      </h1>
        {{ content }}
    </main>
    <footer class="flex items-center justify-between max-w-2xl py-8 mx-10 font-mono text-sm text-moss-900 dark:text-neutral-500">
      <span>© {{ "now" | date: "%Y" }} Jacob Foster Heimark.</span>
      <div class="flex font-mono gap-x-2">
        <a href="mailto:jake@heimark.org" class="inline-block size-4" target="_blank" rel="noopener noreferrer">
            {% include icons/mail.svg %}
        </a>
        <a href="https://github.com/hmk" class="inline-block size-4" target="_blank" rel="noopener noreferrer">
          {% include icons/Github.svg %}
        </a>
        <a href="https://linkedin.com/in/jakeheimark" class="inline-block size-4" target="_blank" rel="noopener noreferrer">
          {% include icons/LinkedIn.svg %}
        </a>
      </div>
    </footer>
  </body>
</html>